
input {
  width: 400px;
  height: 30px;
  border: 1px solid green;
}

.main {
  width: 1080px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 100px;
}

.codes{
  margin-top: 50px;
}


